<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../js/comentario.js" defer> </script>
        <title>Nikola Tesla</title>
        <link rel="stylesheet" href="../css/cientifico.css"/> <!-- Con esto decimos el archivo css
                 que va a darle formato. Si quisiéramos un archivo js sería <script src=... defer> </> en vez de link -->
    </head>

    <body class="main_pagina">
        <!-- El body está dividido en: Cabecera, sección principal (científico + enlaces) y pie de página. -->
        <header class="cabecera">
            <!-- La primera parte de la cabecera es el logotipo (izquierda). -->
            <section class="imagen_cabecera">
                <img class="imagen_cabecera_" src="../img/logotipo.jpg">
            </section>

            <!-- La segunda parte de la cabecera es el título y el menú horizontal. -->
            <section class="texto_cabecera">
                <h1 class="titulo_pagina">
                    100TIFICOS y 100TIFICAS
                </h1>

                <section class="menus">
                    <a class="menu_text" href=""> Inicio </a>
                    <a class="menu_text" href=""> Referencias </a>
                    <a class="menu_text" href=""> Ayuda </a>
                </section>
            </section>
        </header>

        <section class="main_section">
            <section class="seccion_cientificos">
                <section class="texto_cientifico">
                    <h1> {{ nombre }}    </h1>
                    <h2> {{ fechas }}       </h2>
                    <h3> {{ lugar_muerte }}    </h3>

                    <p class="biografia">
                        {{ texto }}
                    </p>

                    <section class="buttons">
                        <button> <a class="text_button" href="../cientifico_imprimir.html"> FB </a> </button>
                        <button> <a class="text_button" href="../cientifico_imprimir.html"> TW </a> </button>
                        <button> <a class="text_button" href="../cientifico_imprimir.html"> IMPRIMIR </a> </button>
                        <!-- Script que muestra u oculta la sección de comentarios. -->
                        <button> <a class="comment_button" onclick="mostrarComentarios()"> COMENTARIOS </a> </button>
                    </section>

                </section>

                <section class="imagenes_cientifico">
                    <img class="foto_cientifico" src="{{ foto1 }}">
                    <img class="foto_cientifico" src="{{ foto2 }}">
                </section>

            </section>

            <nav class="seccion_enlaces">
                <h2 class="titulo_enlaces"> Enlaces que tal vez te interesen </h2>
                <h3 class="titulo_enlaces"> 100 científicos cristianos </h3>
                <a class="enlace" href="https://www3.gobiernodecanarias.org/medusa/ecoblog/jregamu/?p=303"> https://www.gobiernodecanarias.org/ </a>

                <h3 class="titulo_enlaces"> 100 científicos por épocas </h3>
                <a class="enlace" href="https://www.sutori.com/es/historia/100-cientificos--9ERNVojCZNceaEXFLtSZB2sa"> https://www.sutori.com/es/historia/ </a>

                <h3 class="titulo_enlaces"> 100 científicos que más aportaron </h3>
                <a class="enlace" href="https://es.slideshare.net/grethelsaldivar/los-100-cientificos-que-han-aportado-a-la-ciencia"> https://es.slideshare.net/grethelsaldivar/ </a>

                <h3 class="titulo_enlaces"> ¿Qué es la ciencia? </h3>
                <a class="enlace" href="https://www.significados.com/ciencia/"> https://www.significados.com/ciencia/ </a>

                <h3 class="titulo_enlaces"> Ciencia y Religión </h3>
                <a class="enlace" href="https://www.unedtudela.es/noticias/noticia/1886#:~:text=La%20Ciencia%20se%20mueve%20en,%2C%20para%20algunos%20científicos%2C%20integrarse.">
                    https://www.unedtudela.es/ </a>
            </nav>
        </section>

        <!-- Sección oculta de los comentarios. -->
        <section id="comentarios">
            <div id="poner_comentario">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="user_name">

                <label for="mail">Correo electrónico:</label>
                <input type="email" id="mail" name="user_mail">

                <label for="comentario_usuario">Mensaje:</label>
                <!-- Script para el evento de escribir sobre el textarea. -->
                <textarea id="comentario_usuario" name="user_message" oninput="comprobarPalabrasMalsonantes()"></textarea>

                <!-- Script para cuando pulsamos el botón, hacer las validaciones y agregar el comentario. -->
                <button id="boton_enviar" onclick="aniadirComentarioUsuario()">ENVIAR</button>
            </div>

            <div id="comentarios_presentes">
                <!-- Aquí irán apareciendo los cometarios de forma dinámica. -->
            </div>
        </section>

    <!-- A partir de aquí está lo relacionado con el pie de página. -->
        <footer class="pie_pagina">
            <img class="imagenpie" src="../img/copyright.png">
            <div class="texto_pie">
                <p> Contacto: e.ismaelgilena26@go.ugr.es </p>
                <p> Práctica 1 SIBW </p>
                <p> Todos los derechos reservados </p>
            </div>
        </footer>
    </body>
</html>